body{
    margin: 0;
    background-image: url('../img/fondo.png')
}
h1{
    display: inline-table;
    float: right;
    font-family: 'Enriqueta', serif;
    margin: auto auto;
    color: #fff;
}
h3{
    margin: 0;
    color: #000;
}
.contenedor{
    width: 95%;
    margin: 10px auto;
}
.cabecera-boton{
    margin: 0;
    display: -webkit-box;
    background-color: brown;
}
.presentacion{
    font-size: 1.5em;
    width: 55%;
    background-color: #37373A;
    display: flex;
}
.logo{
    width: 22%;
    height: auto;
    float: left;
    margin: auto auto;
}
.comienzo{
    display: -webkit-box;
    width: 45%;
}
#boton{
    font-size: 2em;
    color: #fff;
    background-color: #FA1E29;
    cursor: pointer;
    display: -webkit-box;
    width: -webkit-fill-available;
    font-family: 'Roboto', sans-serif;
}
#juego{
    margin-top: 20px;
}
.seccion1{
    display: -webkit-box;
    background-color: #fff;
}
.turnos-ingreso{
    display: -webkit-box;
    width: 45%;
}
.turnos{
    display: inline-table;
    font-family: 'Roboto', sans-serif;
}
.tituloTurno{
    color: black;
    font-size: 25px;
}
#campoDeIngreso{
    display: inline-block;
    margin: 15px 17px;
}

#selectorDeTurno{
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin: 15px 17px;
    width: 100px;
    height: 100px;
    background-color: #0A2C41;
}
#selectorDeTurno p{
    margin: 2px 2px;
    text-align: center;
    font-size: 57px;
}
.textoDeLetras{
    display: -webkit-inline-box;
    font-size: 2em;
    width: fit-content;
    font-size: 3em;
    border: crimson double 4px;
    padding: 1px 5px;
    margin: 3px 6px;
}
.seccion2{
    background-color: white;
}
#espacioDeLetras{
    display: -webkit-box;
    margin: 0% 3%;
}
.guiones{
    height: fit-content;
    width: 53px;
    border-style: solid;
    border-width: 0px 0px 6px 0px;
    font-size: 5em;
    margin: 80px 10px;
}
.espacios{
    height: fit-content;
    width: 53px;    
    border-width: 0px 0px 6px 0px;
    font-size: 5em;
    margin: 80px 10px;
}

#letrasIngresadas{
    width: 55%;
}
#recuadroLetra{
    font-size: 4em;
    margin: 0px 2px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: #000 solid 2px;
}
#enter{
    color: #fff;
    background-color: blueviolet;
    cursor: pointer;
}

@media (min-width:769px){
    h1{
    display: inline-flex;
    }
    .presentacion{
    font-size: 2em;
    }
    #campoDeIngreso{
    display: inline-table;
    margin: 12px 41px;
    }
    #selectorDeTurno{
    margin: 0px 2px;
    }
    .turnos{
    display: block;
    margin-top: 22px;
    margin-left: 20px;
    }
}


@media (min-width:915px){
    .logo{
    width: auto;
    height: auto;
    margin: 0;
    }
}